body, div, p, span, h1, h2, h3, h4, h5, h6, table, th, tr, td {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif, Arial, Verdana;
}

.header {
  width:720px;
  margin: 0 auto;
  h1 {
    float:left;
    font-size:3em;
    letter-spacing:-3px;
    
  }
  .user_info {
    float:right;
    font-size:1.2em;
  }
}

.contents {
  clear:both;
  width:720px;
  #left_col {
    float:left;
    width:200px;
  }

  #right_col {
    float:right;
    width:500px;
  }
}
