.project
  %p.title
    = @project.title
  %p.detail
    = @project.detail

  %p.actions
    = link_to 'Edit', edit_project_path(@project)
    = link_to '削除する', project_path(@project), :method => :delete, :confirm => '削除すると二度と復旧できません。本当に削除しますか？'
